h1{
    color: green;
}

p{
    color: red;
}

.note{
    font-size: 20px;
}

#id-selector-demo{
    color: green;
}

li[value="4"]{
    color: blue;
}

*{
    text-align: center;
}

h2{
    font-weight: normal;
}

#red{color: red;}
#grenn{color: green;}
#blue { color: blue; }
#yellow{ color: yellow; }
#orange{ color: orange; }
#purple { color: purple; }
#pink { color: pink; }
#brown { color: brown; }
#gray { color: gray; }
#black { color: black; }

img{
    height: 200px;
    width: 200px;
}