
@import 
url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


body {  
    background-color: black;  
    color: white;  
    text-align: center;
}
.container {  
    width: 50%;  
    margin: 0 auto;
}
.container img {  
    width: 100%;  
    border: 5px solid white;
}
.container h1 {  
    font-family: 'Libre Baskerville', serif;  
    text-transform: uppercase;
}
.container p {  
    font-size: 18px;
}