h1{
    text-align: center;
    color: rgb(61, 0, 61);
}

.Flex-container{

        display: flex;

        flex-direction: row;

        gap: 20px;

        width: 80%;
        max-width: 700px;
        height: 250px;
        padding: 10px;
        border: 3px dashed violet;
        background-color: rgb(187, 114, 255);
        align-items: center;
        justify-content: flex-start;
        border-radius: 10px;

}

.Item{
    flex: 1;

    background-color: violet;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 1.5em;
    border-radius: 8px;
    height: 100px;
    font-weight: bold;
    background-color: 0,35;
}

.Item:nth-child(2){
    background-color: blueviolet;
}

.Item:nth-child(3){
    background-color: rgb(255, 54, 228);
}

p.dica{
    background-color: rgb(253, 210, 130);
    border-left: 5px solid violet;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}